docker-hub-email: user@xyz.com
docker-hub-username: user
docker-hub-password: xxx
docker-hub-base-image: dockerhub-user/container-image-name
private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEArlGdGbigcU61MKC00+BuppbgFMxB7jmQkNU+cjNvrM1qxv9h
      cOT9uyvxXFMizvvINy7kcexgoTv2RR5vsYG1xR57cycqP9/H4AlbxQ==
      -----END RSA PRIVATE KEY-----
git_http_user: user
git_http_token: xxx
