docker-hub-email: whewawal@cisco.com
docker-hub-username: whewawal
docker-hub-password: xxx
docker-hub-base-image: containers.cisco.com/whewawal/aci-base
private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEArlGdGbigcU61MKC00+BuppbgFMxB7jmQkNU+cjNvrM1qxv9h
      cOT9uyvxXFMizvvINy7kcexgoTv2RR5vsYG1xR57cycqP9/H4AlbxQ==
      -----END RSA PRIVATE KEY-----
git_http_user: whewawal
git_http_token: xxx
